.flex-packs{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.pack{
	font-family: helvetica;
	color:darkslategrey;
	border:1px solid lightgrey;
	padding:0.5rem;
	margin:0.5rem;
	width:16rem;
	list-style-type: none;
	cursor: pointer;
}

.pack:hover{
	background-color:ghostwhite;
}

.pack img{
	display: block;
	margin:1rem auto;
}

.pack p{
	margin:0.5rem;
}
