body{
	font-family: helvetica;
	font-size: 1.1rem;
	background-color: beige;
}

.people{
	line-height: 1.4;
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
	margin-bottom: 1rem;
	padding:1rem;
}

.panel{
    border:2px solid lightgrey;
    margin:0.5em;
    padding:0.5em;
    border-radius: 0.25rem;
    width: 10rem;
	text-align: center;
	background-color: white;
	color:orangered;
}

img{
    display: block;
	margin:0 auto;
}

.score{
	color:orangered;
}
