body{ 
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

p{
	padding: 1rem;
	margin:0;
}

p:nth-of-type(odd) {
	background-color: #EFEFEF;
}

span{
	color: #FF6E00;
	padding-left: 0.5rem;
}

img{
	display: block;
	margin: 0 auto;
}

#total{
	background-color: #848484;
	color:white;
}