.films{
	font-family: helvetica;
}

h2{
	text-align: center;
	opacity: 0.8;
	color:darkslategrey;
	font-size: 1.25rem;
}

form{
	width:640px;
	margin:0 auto;
	border:1px solid lightgrey;
}

section{
	/*border-bottom:2px dashed lightgrey;*/
	padding:1rem;
}

input{
	font-size: 1rem;
	padding:0.25rem;
	width:20rem;
}

label{
	 margin-right: 0.5rem;
	 width:4rem;
	 display: inline-block;
}

button{
	background-color: beige;
	padding:0.5rem 1rem;
	border:none;
	font-size: 1rem;
	/*cursor: pointer;*/
	margin-top: 1rem;
}

span{
	display: inline-block;
	color:orangered;
	font-size: 1rem;
	/*letter-spacing: 1px;*/
}

.valid{
	color:forestgreen;
}

.submit{
	cursor: pointer;
	background-color: khaki;
}

pre{
	font-size: 1.25rem;
	color:darkslategrey;
}

hr{
	opacity: 0.5;
	margin:2rem 0;
}

.error-border{
	border:red solid 1px;
}
