* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
}

body{
    font-family: 'Oswald', Arial;
    font-size: 100%;
}

.panel{
    padding: 1rem;
    border:1px solid grey;
    margin:1rem;
	text-align: center;
    width:10rem;
    cursor: pointer;
}

.debts{
    border-bottom: 2px dashed lightgrey;
    padding-bottom: 0.5rem;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.debt{
    font-size: 1.25rem;
    color:orangered;
}

.button{
    background-color: PaleGoldenrod;
    padding: 1rem;
    text-align: center;
    border-radius: 2px;
    margin:1rem;
    width:8rem;
    cursor: pointer;
    letter-spacing: 1px;
    /*display: inline-block;*/
}

.controls{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
