
.product{
    padding:0.5rem;
    border:1px solid lightgrey;
    margin:0.25rem;
    text-align: center;
    cursor: pointer;
}

.product p{
    margin:0.5rem;
}

.info{
    font-size: 0.8rem;
    color:grey;
}

.button{
    width:2rem;
    background-color: orangered;
    color:white;
    display: inline-block;
    padding:0.25rem 0;
    cursor: pointer;
    user-select: none;
    text-align: center;
    border-radius: 50%;
}

img{
    display: block;
    margin:0 auto;
}
